.title
{
        text-align: center;
        padding-top: 30px;
        color: white;
}

.card
{
        margin-bottom : 16px;
        margin-top : 16px;
        margin-left : 16px;
        margin-right : 16px;
        cursor: pointer
}